<mat-stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm">
            <ng-template matStepLabel>Enter Your Name</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field><br>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" (ngSubmit)="form2()" #formtwo="ngForm">
            <ng-template matStepLabel>Enter The position</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>position</mat-label>
                <input matInput formControlName="position" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Enter The itemname">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="form3()" #formthree="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>itemname</mat-label>
                <input matInput formControlName="itemname" required autocomplete="off" autofocus="off">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>&nbsp;
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" label="Enter The Cost Of The Item">
        <form [formGroup]="fourthFormGroup" (ngSubmit)="form4()" #formfour="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>Cost</mat-label>
                <input matInput formControlName="cost" required autocomplete="off" autofocus="off">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>&nbsp;
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup" label="Enter The ShippingAddress">
        <form [formGroup]="fifthFormGroup" (ngSubmit)="form5() " #formfive="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>country</mat-label>
                <mat-select [formControl]="country" name="country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <!-- <input matInput formControlName="state" required autocomplete="off" autofocus="off"> -->
                <mat-select [formControl]="state" name="state">
                    <mat-option *ngFor="let state of states" [value]="state">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field><br>
            <div>
                <button mat-button matStepperPrevious>Back</button>&nbsp;
                <button mat-stroked-button type="submit" (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit(); 
                formthree.ngSubmit.emit(); formfour.ngSubmit.emit(); formfive.ngSubmit.emit(); ">submit</button>
            </div>
        </form>
    </mat-step>


</mat-stepper>