div.bg{
    
   text-align: center;
   margin-top: 170px;
   
  
}

/* label{
    font-weight: 600;
} */
/* mat-icon{
   
    font-weight: bolder;
    color: black;
 }
  */
 /* p{
     font-weight: bold;
     color: black;
 } */
