/* div{
    height: 10%;
    background-color: cadetblue;
   
} */
p{
    font-weight: bold;
    /* color: black; */
    
}
header{
    height:100px;
    background-color:blueviolet;
    display: flex;

}
/* .example-sidenav{
    padding: 20px;
} */
.example-sidenav-content{
    /* display: flex; */
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}
