<div>
    <mat-card>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTeFzGmgiFo6fOfKS4W00Dic1BQWeCIgiDOA&usqp=CAU"
            alt="">
        <!-- <mat-card-content> -->
        <!-- <p >id:{{value.id}}</p>
        <p >itemname:{{value.itemname}}</p>
        <p >cost:{{value.cost}}</p>
        <p >shippingAddress:{{value.shippingAddress}}</p> -->

        <app-details [value]="value" (updatedetails)="edit($event)" (deletedetails)="deleteRow($event)"></app-details>
    </mat-card>
</div>